*{
    margin: 0;
    padding: 0;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.nav{
    display: flex;
    list-style: none;
    
}
ul>li>a{
    margin:20px;
    padding: 0px;
    color: black;
    display: inline;
    justify-content:space-between;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    cursor: pointer;

}

.Logo{
    margin:10px;
    padding:30px;
    font-size:40px;
 
}

.User{
    color: rgb(39, 177, 231);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size:25px;
     padding:30px;
     margin-right:8rem;
     background-color: rgb(155, 241, 242);
     cursor: pointer;
     border-radius:20px;
    
}
.herosection{
    display: flex;
    margin-left: 5rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    font-size: 20px;  
}
.heading{
    margin: 2rem;
    padding: 20px;
  
 }
  h2{
    color: red;
}
   h1{
    color: rgb(39, 177, 231);
    margin: 10px;
   }
p{
    color: rgb(77, 76, 75);
    font-size:22px;
    margin-top: 2rem;
}
button{
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color:rgb(27, 116, 199);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
img{
    margin-left: 5rem;
    width: 500px;
    height: 400px;
}